<div class="container-fluid">
  <div
    class="row mt-4"
    style="
      margin-left: 2rem;

      margin-right: 3rem;
      margin-bottom: 4rem;
    "
  >
    <div class="row">
      <div class="col">
        <h3>มจพ. เปิดรับสมัครนักศึกษาใหม่ ประจำปีการศึกษา 2565 TCAS65</h3>
      </div>
    </div>
    <hr />
    <div class="col shadow mb-5 pb-5">
      <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center">
          <img
            mat-card-image
            src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.6435-9/52864503_1751474208331072_5304427826244485120_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG89soFyFkl61IvFhGSw_TOqJRc_DZp_MColFz8Nmn8wGE8jKjfkpTgTJPmQp5-Lw9-IIHFL193ccDt80IW54SE&_nc_ohc=0MUffFhwdkUAX-9lWUn&_nc_ht=scontent.fbkk22-1.fna&oh=00_AT-b06wbOF6sAoorZGl2p-TQx6hxs8G7yStvGUF6p-9lkg&oe=62872200"
            alt="Photo of a Shiba Inu"
            width="600"
            height="600"
          />
        </div>
      </div>
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-6">
            <label for="">
                มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ (มจพ.) กำหนดเปิดรับสมัครนักศึกษาใหม่ ประจำปีการศึกษา 2565  TCAS65 ( TCAS 1 – TCAS 4 ) นักเรียน นักศึกษา สนใจดูรายละเอียดเพิ่มเติมจากคู่มือการใช้งานระบบรับสมัครนักศึกษาออนไลน์ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าพระนครเหนือ http://admission.kmutnb.ac.th/download
และสมัครออนไลน์ที่ www.admission.kmutnb.ac.th สอบถามรายละเอียดได้ที่ งานรับสมัคร กองบริการการศึกษา สำนักงานอธิการบดี โทร. 02-555-2000 ต่อ 1626–1628 หรือ Facebook : กลุ่มงานรับเข้าศึกษา มจพ.
พัทธนันท์/ข่าว
            </label>
        </div>
      </div>
    </div>
  </div>
</div>
